
body {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.clear {
    clear: both;
}


/*-----------------------------------------------------HEADER----------------------------------*/
header {
    font-size: 16px;
    text-decoration: none;
    height: 70px;
    line-height: 75px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
 
.leftHeader{
    float: left;
    width: 10%;
    padding-left: 20px;
}

.centerHeader{  
    width: 330px;;
    margin: 0 auto;
    text-align: center;
    font-size: 27px;
    font-family: Lato;
    color: #DB532D;
    line-height: 100%;
}

.centerHeader img {
    margin-top: 30px;
    margin-right: 10px;
}

.centerHeader img, .centerHeader p {
    float: left;
}

.rightHeader{
    float:right;
    position: absolute;
    right: 0px; 
    top: 0px;
    padding-right: 20px;
}

.rightHeader .info, .rightHeader .avatar {
    float: left;
    width: 65px;
    margin-top: 20px;
}


/*-----------------------------------------------------HEADER CLOSE----------------------------------*/



/*-----------------------------------------------------CONTENT----------------------------------*/
.content {
    display: inline-block;
    width: 100%;
    background-color: #E3E3E3;
}


.content .buttonsContent {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    margin-top: auto;
    margin-top: 20px;
    color: #757575;

}

.content .buttonsContent form button{
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-style: none;
    height: 40px;
    width: 220px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 4px; 
    color: white;
    background: #DB532D;
    font-size: 15px;
    font-family: Lato;
    margin-top: 10px;
}

 button img{
    text-align: center; 

}

.content .buttonsContent form select {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 220px;
    border-radius: 4px; 
    font-family: Lato;
    box-shadow:none;
    border:1px solid #bdbdbd;
    padding: 0 8px;
    margin: 10px 16px 0px 16px;
    background-color: #fff;

}



.content .buttonsContent form input{
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 220px;
    border-radius: 4px; 
    font-family: Lato;
    border:1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;     
    background-color: #fff;
}



.content .menuContent{
    width: 100%;
    margin: 0 auto;

}

.content .menuContent p{

    width:  100%;
    text-align: center; 
    margin-top: 30px;
    color: #757575;
}
/*-----------------------------------------------------CONTENT CLOSE----------------------------------*/

/*-----------------------------------------------------WRAP----------------------------------*/

.wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-top: auto;
    margin-top: 30px;
    color: #757575;
}
.dataContainer {
    text-align: left;
    font-size: 20px;
    float: left;
    width: 45%;
    height: 50px; 
}
.filterContainer {
    float: right;
    width: 55%;
}
.filterContainer .filter,
.filterContainer .entries {
    float: left;
}
.container .filterContainer form .filter input {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 290px;
    border-radius: 4px;
    font-family: Lato;
    box-shadow: none;
    margin-left: 10px;
    border: 1px solid #bdbdbd;
    padding: 0 8px;
    background-color: #fff;
    cursor: pointer;
    background-image: url(' images/search2.png') no-repeat left  center;
}
.container .filterContainer form .enteries select {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    font-family: Lato;
    box-shadow: none;
    margin-left: 10px;
    border: 1px solid #bdbdbd;
    padding: 0 8px;
    float: right;
    background-color: #fff;
}
hr {
    color: #DB532D;
}
/*-----------------------------------------------------CLOSE CONTAINER----------------------------------*/
/*-------------------------------------------------------OPEN CONTENT-----------------------------------*/

.informationContent .descriptionInformation {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #757575;
    background-color: #E3E3E3; 
    border-bottom: 1px solid #919191;

}
.informationContent .descriptionInformation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.informationContent .descriptionInformation ul li {
    text-align: left;
    padding: 5px;
    float: left;
    width: 14%;
    height: 40px;
    line-height: 40px;
    color: #919191;
    font-size: 16px;
}
.informationContent .nameInformation {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-top: auto;
    margin-top: 10px;
    color: #757575;
}

.nameInformation li input {
    max-width: 100%;
    border:none;
    padding: 0px;

}

.nameInformation li input:hover{
    border-bottom: 1px solid #D9532D;
    cursor-color:#D9532D;

}

.nameInformation li input:focus{
    border-bottom: 1px solid #D9532D;
    outline-color: transparent; /*transparent chenarul cu albastru*/
    color: #D9532D; 
}

.nameInformation  input {
    max-width:14%;
    border:none;
    text-align: left;
    padding: 5px;
    float: left;
    color: #6B6B6B;
    font-size: 14px;
    padding-top: 5px;
    font-family: Lato;

}

.informationContent ul li.open {
    background: url('images/down.png') no-repeat left 5px;
}
.informationContent ul.descriptionInformation li.open ul.infoText {
    display: block;
}
.nameInformation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.nameInformation ul li {
    text-align: left;
    padding: 5px;
    float: left;
    width: 14%;
    color: #6B6B6B;
    font-size: 14px;
    padding-top: 5px;
}
.nameInformation ul li.action {
     width: auto;
}
.nameInformation img {
    padding-left: 0px;
    padding-right: 15px;
    line-height: 40px;
    display: inline;
    float: right;
}
.moreInfo {
    display: none;
}
.infoText {
    float: left;
    width: 600px;
    color: #919191;
    font-size: 14px;
    text-align: left;
}
.infoText .leftText {
    padding-top: 10px;
    width: 150px;
    margin-left: 10px;
    float: left;
}
.infoText .rightText {
    padding-top: 10px;
    color: #6B6B6B;
}
.infoButton {
    float: right;
    width: 160px;
}
.leftText ul li {
    list-style-type: none;
}
.rightText ul li {
    list-style-type: none;
}
.infoButton form button {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 160px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    color: #919191;
    font-size: 14px;
    font-family: Lato;
    background-color: white;
    margin-top: 10px;
}
.infoButton form button.active {
    border-color: #DB532D;
    color: #DB532D;
}
/*-----------------------------------------------------WRAP CLOSE----------------------------------*/

/*-----------------------------------------------------FOOTER----------------------------------*/


footer  {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

footer .paginare {
    height: 46px;
    font-family: Lato;
    text-align: center;
    font-size: 0;
}

footer .paginare li {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-width: 1px 1px 1px 0;
    padding: 10px 16px 10px 16px;
}
footer ul{
    padding: 0px;
}
footer .paginare li:first-child {
    border-left-width: 1px;
    border-radius: 4px 0 0 4px;
}
footer .paginare li:last-child {
    border-radius: 0 4px 4px 0;
}
footer .paginare a {
    font-size: 15px;
    text-decoration: none;
    color: #6B6B6B;
}

footer .paginare li:hover,
footer .paginare li.active {
    background-color: #E3E3E3;
}

footer .paginare li:hover a,
footer .paginare li.active a {
    color: #6B6B6B;
}
/*-----------------------------------------------------footer CLOSE----------------------------------*/

/*------------------------------------------------------responsive-----------------------------------*/

@media only screen and (min-width: 1px) and (max-width: 640px){

    header {
        display: inline-block;
        float: left; 
    }
    
    .rightHeader{
        top:2px;
    }
    .centerHeader {
        width: 160px;
    }
    .centerHeader p{
        width: auto;
        font-size: 13px;
        margin-top: 20px;

    }
    .centerHeader img{
        width:22px;
        margin-top: 23px;
    }

     .rightHeader .avatar {
        width: 0px;
        padding-right: 25px;
        margin-top: 5px;
    }

    .rightHeader .info{
        width: 0px;
        padding-right: 40px;
        margin-top: 5px;

    }
     
        

    .rightHeader img{
        width:35px;
    }

    .container, .wrap {
        display: block;
        width: 100%;
    }
    .container .dataContainer{
        text-align: center;
        float: none;
        width: 100%;
    }
    .filterContainer {
        width: 100%;
        float: none;
    }
    .filterContainer .filter, .filterContainer .enteries {
        float: none;
        width: 330px;
        margin-top: 10px;
        margin: 0 auto;
    }

    .container .filterContainer form .filter input, .container .filterContainer form .enteries select {
        width: 100%;
        float: none;
        margin: 0;  
        margin-top: 10px;      
    }

    .content .buttonsContent form select {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 220px;
    border-radius: 4px; 
    font-family: Lato;
    box-shadow:none;
    border:1px solid #bdbdbd;
    padding: 0 8px;
    margin: 10px 0px 0px 0px;
    background-color: #fff;

}

    
    .informationContent{
        width: 100%;
    }
  
    .descriptionInformation {
        display: none;
    }

    .informationContent .nameInformation {
        width: 100%;
    }

    .nameInformation ul li {
        width: 100%;
    }

    .nameInformation ul li:before {
        display: inline-block;
        width: 150px;    
        padding-left: 5px;
    }

    .nameInformation ul li:nth-of-type(1):before {
        content: "Full Name:";

    }
    .nameInformation ul li:nth-of-type(2):before {
        content: "Job Title:";
    }
    .nameInformation ul li:nth-of-type(3):before {
        content: "Grade:";
    }
    .nameInformation ul li:nth-of-type(4):before {
        content: "Allocation status:";
    }
    .nameInformation ul li:nth-of-type(5):before {
        content: "Project:";
    }
    .nameInformation ul li:nth-of-type(6):before {
        content: "Date of booking:";
    }

  
    .moreInfo {
        display: block;
    }


    .infoText, .infoButton {
        width: 100%;
        float: none;
    }
    
    .rightText {
        width: 100%;
    }

    .rightText:before{
        display: inline-block;
        width: 150px; 
    }

    footer {
        width: auto;
        text-align: center; 
    }

    footer .paginare {
        height: 23px;
        font-family: Lato;
        font-size: 0;
    }

    footer ul{
    padding: 0px;
    }

    footer .paginare li {
        display: inline-block;
        background-color: white;
        border: 1px solid #bdbdbd;
        border-width: 1px 1px 1px 0;
        padding: 10px 12px 10px 12px;
    }

    footer .paginare li:first-child {
        border-left-width: 1px;
        border-radius: 4px 0 0 4px;
    }
    footer .paginare li:last-child {
        border-radius: 0 4px 4px 0;
    }
    footer .paginare a {
        font-size: 10px;
        text-decoration: none;
        color: #6B6B6B;
    }

}

body {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.clear {
    clear: both;
}

